<footer class="bg-white">
        <div class="max-w-6xl mx-auto px-6 pt-16 pb-10 sm:flex">
            <span class="uppercase font-bold text-indigo-800 tracking-wide mr-24 mb-8 inline-block">
                Dorminum
            </span>
            <div class="sm:mx-4 flex-1">
                <p class="uppercase tracking-wide font-bold text-indigo-800 mb-2">Onze visie</p>
                <p class="mb-8">Morbi accumsan, turpis eget luctus congue, dui enim fermentum lectus, quis congue erat
                    mauris eget ipsum. Praesent ullamcorper elementum orci eget mattis. Quisque dictum nisl ac leo
                    scelerisque ornare. </p>
                <nav class="mb-6 flex">
                    <a href="#" class="bg-blue-200 w-12 h-12 rounded-full flex items-center justify-center text-blue-800 mr-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="bg-blue-200 w-12 h-12 rounded-full flex items-center justify-center text-blue-800 mr-2"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="bg-blue-200 w-12 h-12 rounded-full flex items-center justify-center text-blue-800 mr-2"><i class="fab fa-twitter"></i></a>
                </nav>
                <div>
                    &copy; 2010 - 2020
                </div>
            </div>
            <div class="mx-4 flex-1 hidden md:block">
                [team foto]
            </div>
        </div>
        <div class="bg-white">
            <div class="max-w-6xl mx-auto px-6 pt-8 pb-10 sm:flex">
                <span class="uppercase font-bold text-indigo-800 tracking-wide mr-24">
                    Bronnenlijst
                </span>
                <ol class="list-decimal ml-4 sm:ml-0 mt-4 sm:mt-0">
                    <li><span class="mr-2">Naam van de bron</span> <a href="https://data.worldbank.org/country/belgium?view=chart" class="opacity-50" target="_blank">https://data.worldbank.org/country/belgium?view=chart</a></li>
                    <li><span class="mr-2">Naam van de bron</span> <a href="#" class="opacity-50">De link naar de bron</a></li>
                </ol>
            </div>
        </div>
    </footer>