<footer class="bg-white">
    <div class="max-w-6xl mx-auto px-6 pt-16 pb-10 sm:flex flex-wrap">
        <span class="uppercase font-bold text-indigo-800 tracking-wide mr-4 mb-8 inline-block">
            Floris Wouterson
        </span>
        <div class="sm:mx-4 flex-1">
            <p class="uppercase tracking-wide font-bold text-indigo-800 mb-2">Onze visie - It’s al about life energy!</p>
            <p class="mb-8">Het is ons doel om wereldwijd de nummer #1 partner (platform) te zijn voor die diepe, herstellende nachtrust. Want slaap is het snelste, goedkoopste en meest performante middel dat ons ter beschikking staat om te bruisen van levensenergie. <a href="#" class="text-indigo-500">Lees verder...</a> </p>
            <nav class="mb-6 flex">
                <a href="#"
                    class="bg-blue-200 w-12 h-12 rounded-full flex items-center justify-center text-blue-800 mr-2"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="#"
                    class="bg-blue-200 w-12 h-12 rounded-full flex items-center justify-center text-blue-800 mr-2"><i
                        class="fab fa-linkedin-in"></i></a>
                <a href="#"
                    class="bg-blue-200 w-12 h-12 rounded-full flex items-center justify-center text-blue-800 mr-2"><i
                        class="fab fa-twitter"></i></a>
            </nav>
            <div>
                        Foto Credits: <a href="https://www.instagram.com/sabine.vn/" target="_blank" class="text-blue-800">Sabine van Nistelrooij</a>
            </div>
            
        </div>
        <div class="mx-4 flex-1 hidden md:block">
            <div class="bg-blue-100 rounded-lg p-8">
                <span class="uppercase font-bold text-indigo-800 tracking-wide mr-24 mb-2 inline-block">
                                WORD OOK EEN SUPERSLAPER
                </span>
                <p class="mb-4">Download hier mijn checklist met de 3 grootste slaapkillers. Dat zijn niet cafeïne, suiker of werkstress. Het zijn 3 heel andere dingen waardoor mensen slecht slapen. Ontvangt ook meteen mijn wekelijkse slaap performance tips. </p>
                <form action="" class="text-center ">
                    <div class="mb-4 text-left ">
                        <div class="mb-2">
                            <label for="#"
                                class="text-xs uppercase font-black text-blue-700 tracking-widest">Naam</label>
                            <input type="text" class="w-full bg-white h-10 border border-blue-200 px-4">
                        </div>
                        <div class="mb-2">
                            <label for="#"
                                class="text-xs uppercase font-black text-blue-700 tracking-widest">E-mail</label>
                            <input type="email" class="w-full bg-white h-10 border border-blue-200 px-4">
                        </div>

                    </div>
                    <button class="bg-blue-800 px-6 py-4 text-blue-100 font-bold rounded-full mx-auto mt-2 hover:bg-blue-500 hover:text-blue-800">Download de 3 grootste slaapkillers</button>
                </form>
            </div>
        </div>
        
    </div>
    {{ if .IsHome }}
    <div class="bg-white">
        <div class="max-w-6xl mx-auto px-6 pt-8 pb-10 sm:flex">
            <span class="uppercase font-bold text-indigo-800 tracking-wide mr-24">
                Bronnenlijst
            </span>
            <ol class="list-decimal ml-4 sm:ml-0 mt-4 sm:mt-0">
                <li><span class="mr-2">Eigen onderzoek voor het boek Superslapen en Why Sleep Matters: Quantifying the
                        Economic Costs of Insufficient Sleep (20xx), RAND Cooperation</span> <a
                        href="https://www.rand.org/randeurope/research/projects/the-value-of-the-sleep-economy.html"
                        class="opacity-50"
                        target="_blank">https://www.rand.org/randeurope/research/projects/the-value-of-the-sleep-economy.html</a>
                </li>
                <li><span class="mr-2">Bruto binnenlandsproduct Nederland</span> <a
                        href="https://data.worldbank.org/country/netherlands?view=chart" class="opacity-50"
                        target="_blank">https://data.worldbank.org/country/netherlands?view=chart</a>
                </li>
                <li><span class="mr-2">Bruto binnenlandsproduct België</span> <a
                        href="https://data.worldbank.org/country/belgium?view=chart" class="opacity-50"
                        target="_blank">https://data.worldbank.org/country/belgium?view=chart</a>
                </li>
                <li><span class="mr-2">Auto ongelukken na nachtdiensten</span> <a
                        href="http://werktijden.blogspot.com/2017/04/auto-ongelukken-na-nachtdiensten-wake.html"
                        class="opacity-50"
                        target="_blank">http://werktijden.blogspot.com/2017/04/auto-ongelukken-na-nachtdiensten-wake.html</a>
                </li>
                <li><span class="mr-2">Vermoeidheid in het verkeer: oorzaken en gevolgen</span> <a
                        href="https://www.swov.nl/feiten-cijfers/factsheet/vermoeidheid-het-verkeer-oorzaken-en-gevolgen"
                        class="opacity-50"
                        target="_blank">https://www.swov.nl/feiten-cijfers/factsheet/vermoeidheid-het-verkeer-oorzaken-en-gevolgen</a>
                </li>
                <li><span class="mr-2">Effecten slaapproblemen op werk onderschat</span> <a
                        href="https://nieuws.zilverenkruis.nl/effecten-slaapproblemen-op-werk-onderschat/"
                        class="opacity-50"
                        target="_blank">https://nieuws.zilverenkruis.nl/effecten-slaapproblemen-op-werk-onderschat/</a>
                </li>
                <li><span class="mr-2">The Sleep Deprived Triathlete</span> <a
                        href="http://jaydtrilog.blogspot.com/2018/12/the-sleep-deprived-triathlete.html"
                        class="opacity-50"
                        target="_blank">http://jaydtrilog.blogspot.com/2018/12/the-sleep-deprived-triathlete.html</a>
                </li>
                <li><span class="mr-2">Chronic lack of sleep is associated with increased sports injuries in adolescent
                        athletes</span> <a href="https://www.ncbi.nlm.nih.gov/pubmed/25028798" class="opacity-50"
                        target="_blank">https://www.ncbi.nlm.nih.gov/pubmed/25028798</a>
                </li>
                <li><span class="mr-2">Hoe ziek is het om ziek te gaan werken?</span> <a
                        href="https://www.tijd.be/nieuws/archief/hoe-ziek-is-het-om-ziek-te-gaan-werken/9597944.html"
                        class="opacity-50"
                        target="_blank">https://www.tijd.be/nieuws/archief/hoe-ziek-is-het-om-ziek-te-gaan-werken/9597944.html</a>
                </li>
                <li><span class="mr-2">Jawbone Fitness Wearables Are Gaining Approval Of Elite Athletes</span> <a
                        href="https://www.sporttechie.com/jawbone-fitness-wearables-gaining-approval-elite-athletes/"
                        class="opacity-50"
                        target="_blank">https://www.sporttechie.com/jawbone-fitness-wearables-gaining-approval-elite-athletes/</a>
                </li>
                <li><span class="mr-2">Hoe slaapt Nederland?</span> <a
                        href="https://www.hersenstichting.nl/alles-over-hersenen/de-hersenen/gezonde-hersenen/slaap/slaap"
                        class="opacity-50"
                        target="_blank">https://www.hersenstichting.nl/alles-over-hersenen/de-hersenen/gezonde-hersenen/slaap/slaap</a>
                </li>
                <li><span class="mr-2">15% van Belgen lijdt aan slapeloosheid</span> <a
                        href="https://nieuws.vtm.be/binnenland/15-van-belgen-lijdt-aan-slapeloosheid?referrer=https://www.google.com/"
                        class="opacity-50"
                        target="_blank">https://nieuws.vtm.be/binnenland/15-van-belgen-lijdt-aan-slapeloosheid?referrer=https://www.google.com/</a>
                </li>
                <li><span class="mr-2">Eén op de vijf meldt slaapproblemen</span> <a
                        href="https://www.cbs.nl/nl-nl/nieuws/2018/11/een-op-de-vijf-meldt-slaapproblemen"
                        class="opacity-50"
                        target="_blank">https://www.cbs.nl/nl-nl/nieuws/2018/11/een-op-de-vijf-meldt-slaapproblemen</a>
                </li>
                <li><span class="mr-2">Drie op de tien Belgen heeft slaapproblemen</span> <a
                        href="https://www.uza.be/drie-op-tien-belgen-heeft-slaapprobleem" class="opacity-50"
                        target="_blank">https://www.uza.be/drie-op-tien-belgen-heeft-slaapprobleem</a>
                </li>
                <li><span class="mr-2">Patientenvoorlichting: RLS</span> <a
                        href="https://www.neurologie.nl/publiek/patientenvoorlichting/restless-legs-syndrome-rls"
                        class="opacity-50"
                        target="_blank">https://www.neurologie.nl/publiek/patientenvoorlichting/restless-legs-syndrome-rls</a>
                </li>
                <li><span class="mr-2">Waarom sommige mensen constant met een been op en neer wippen</span> <a
                        href="https://www.hln.be/nina/fit-gezond/waarom-sommige-mensen-constant-met-een-been-op-en-neer-wippen~a8204e6b/"
                        class="opacity-50"
                        target="_blank">https://www.hln.be/nina/fit-gezond/waarom-sommige-mensen-constant-met-een-been-op-en-neer-wippen~a8204e6b/</a>
                </li>
                <li><span class="mr-2">Snurken is een onderschat probleem - en absoluut taboe</span> <a
                        href="https://www.volkskrant.nl/wetenschap/snurken-is-een-onderschat-probleem-en-absoluut-taboe~beb3203e/?referer=https%3A%2F%2Fwww.google.com%2F"
                        class="opacity-50"
                        target="_blank">https://www.volkskrant.nl/wetenschap/snurken-is-een-onderschat-probleem-en-absoluut-taboe~beb3203e/?referer=https%3A%2F%2Fwww.google.com%2F</a>
                </li>
                <li><span class="mr-2">Snurken</span> <a
                        href="https://www.gezondheid.be/index.cfm?fuseaction=art&art_id=1758" class="opacity-50"
                        target="_blank">https://www.gezondheid.be/index.cfm?fuseaction=art&art_id=1758</a>
                </li>
                <li><span class="mr-2">Vier miljoen mensen hebben een chronisch snurkprobleem</span> <a
                        href="https://www.nrc.nl/nieuws/2012/10/24/vier-miljoen-mensen-hebben-een-chronisch-snurkprobleem-12568028-a864383"
                        class="opacity-50"
                        target="_blank">https://www.nrc.nl/nieuws/2012/10/24/vier-miljoen-mensen-hebben-een-chronisch-snurkprobleem-12568028-a864383</a>
                </li>
                <li><span class="mr-2">Steeds meer vrouwen snurken</span> <a
                        href="https://www.ad.nl/gezond/steeds-meer-vrouwen-snurken~a9239a0d/"
                        class="opacity-50"
                        target="_blank">https://www.ad.nl/gezond/steeds-meer-vrouwen-snurken~a9239a0d/</a>
                </li>
                <li><span class="mr-2">Chronisch snurkprobleem apneu kost ons 1,5 miljard euro</span> <a
                        href="https://www.ad.nl/binnenland/chronisch-snurkprobleem-apneu-kost-ons-1-5-miljard-euro~a3eb9c61/"
                        class="opacity-50"
                        target="_blank">https://www.ad.nl/binnenland/chronisch-snurkprobleem-apneu-kost-ons-1-5-miljard-euro~a3eb9c61/</a>
                </li>
                <li><span class="mr-2">Aantal mensen met slaapapneu-behandeling verdubbeld</span> <a
                        href="https://www.apneuvereniging.be/aantal-mensen-met-slaapapneu-behandeling-verdubbeld"
                        class="opacity-50"
                        target="_blank">https://www.apneuvereniging.be/aantal-mensen-met-slaapapneu-behandeling-verdubbeld</a>
                </li>
                <li><span class="mr-2">Persbericht PronoKal Group: Resultaten obesitasonderzoek: Helft van de Belgen is te zwaar</span> <a
                        href="https://wavemakers.prezly.com/persbericht-pronokal-group-resultaten-obesitasonderzoek-helft-van-de-belgen-is-te-zwaar"
                        class="opacity-50"
                        target="_blank">https://wavemakers.prezly.com/persbericht-pronokal-group-resultaten-obesitasonderzoek-helft-van-de-belgen-is-te-zwaar</a>
                </li>
                <li><span class="mr-2">Helft beroepsbevolking werkt 's avonds, 's nachts of in het weekend</span> <a
                        href="https://www.cbs.nl/nl-nl/nieuws/2002/50/helft-beroepsbevolking-werkt-s-avonds-s-nachts-of-in-het-weekend"
                        class="opacity-50"
                        target="_blank">https://www.cbs.nl/nl-nl/nieuws/2002/50/helft-beroepsbevolking-werkt-s-avonds-s-nachts-of-in-het-weekend</a>
                </li>
                <li><span class="mr-2">Belgen blijven bij minst flexibele werknemers van Europa, alleen weekendwerk zit wat in de lift</span> <a
                        href="https://www.vrt.be/vrtnws/nl/2019/08/05/belgen-blijven-bij-minst-flexibele-werknemers-van-europa-alleen/"
                        class="opacity-50"
                        target="_blank">https://www.vrt.be/vrtnws/nl/2019/08/05/belgen-blijven-bij-minst-flexibele-werknemers-van-europa-alleen/</a>
                </li>
            </ol>
        </div>
    </div>
    {{ end }}
    <div class="bg-white">
        <div class="max-w-6xl mx-auto px-6 pt-8 pb-10 md:flex justify-between">
                © 2010 - 2020 - Floris Wouterson
                <nav>
                        <a href="http://www.floriswouterson.com/algemene-voorwaarden/" class="text-blue-800">Algemene voorwaarden</a> - <a href="http://www.floriswouterson.com/disclaimer/" class="text-blue-800">Disclaimer</a> - <a href="http://www.floriswouterson.com/privacy-policy/" class="text-blue-800">Privacy</a> - <a href="http://www.floriswouterson.com/cookies/" class="text-blue-800">Cookie Beleid</a> - <a href="http://www.floriswouterson.com/contact/" class="text-blue-800">Contact</a>
                </nav>
        </div>
    </div>
</footer>