{{- $title := .Title -}}
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width" />
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="apple-mobile-web-app-title" content="{{ $title }}" />
<meta name="application-name" content="{{ $title }}" />
<meta name="msapplication-config" content="/favicons/browserconfig.xml" />
<meta name="theme-color" content="#ffffff" />
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
{{- with .Keywords -}}
<meta name="keywords" content="{{ . }}" />
{{- end -}}
{{- partial "seo/opengraph" . -}}
{{- partial "seo/googleNews" . -}}
{{- partial "seo/schema" . -}}
{{- partial "seo/twitterCards" . -}}

<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

{{ if .Site.IsServer }}
  {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./themes/sleepcalculator/assets/css/dev/postcss.config.js") | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" data>
{{ else }}
  {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./themes/sleepcalculator/assets/css/postcss.config.js") | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}

{{- if .IsHome -}}
{{- range .Site.AllPages -}}
{{- $section := .Section -}}
{{- with .OutputFormats.Get "opensearch" -}}
<link rel="search" type="application/opensearchdescription+xml" title="{{ $title }}{{ with $section }} {{ . }}{{ end }} search" href="{{ .RelPermalink | safeURL }}" />
{{- end -}}
{{- end -}}
{{- end -}}

<link rel="manifest" crossorigin="use-credentials" href="{{ "/manifest.json" | absURL }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicons/apple-touch-icon.png" | absURL }}" />
<link rel="icon" type="image/png" href="{{ "/favicons/favicon-32x32.png" | absURL }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ "/favicons/favicon-16x16.png" | absURL }}" sizes="16x16" />
<link rel="mask-icon" href="{{ "/favicons/safari-pinned-tab.svg" | absURL }}" color="#00c7b7" />
{{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />
  <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $title }}" />
{{- end -}}

<style>.async-hide { opacity: 0 !important} </style>


{{ $icons := resources.Get "js/icons.bundle.js" }}

{{ with $icons }}
{{ $secureJS := . | resources.Fingerprint }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"
	crossorigin="anonymous" defer></script>
{{ end }}